
.category{
    flex: 4;
}

.categoryTitle{
    font-size: 50px;
}

.line{
    margin-top: 10px;
    width: 70%;
}

.transition, .categoryForm button, .categoryForm .question label, .categoryForm .question input[type="text"] {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }
  
  .categoryForm {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
  }
  .categoryForm h1 {
    color:black;
    font-weight: 600;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  .categoryForm .question {
      
    position: relative;
    padding: 10px 0;
  }
  .categoryForm .question:first-of-type {
    padding-top: 0;
  }
  .categoryForm .question:last-of-type {
    padding-bottom: 0;
  }
  form .question label {
    transform-origin: left center;
    color:black;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
  }
  .categoryForm .question input[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid gray;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }
  .categoryForm .question input[type="text"]:focus {
    outline: none;
    background:white;
    color:black;
    margin-top: 30px;
  }
  .categoryForm .question input[type="text"]:valid {
    margin-top: 30px;
  }
  .categoryForm .question input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }
  .categoryForm .question input[type="text"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
  }
  
  .categoryForm button {
    margin-top: 20px;
    background-color: darkblue;
    border: 1px solid darkblue;
    line-height: 0;
    font-size: 17px;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color:white;
    font-weight: bold;
    letter-spacing: 0.01em;
    z-index: 1;
  }
  .categoryForm button:hover, .categoryForm button:focus {
    color: black;
    background-color:white;
    cursor: pointer;
  }